:root {
  --color1: #9b969b; /*Background*/
  --color2: #461e46; /*Dark text*/
  --color25: #af896c;
  --color3: #f6cff5; /*Text*/
}




/*Nav bar*/
ul.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;  
  margin-bottom: 50px;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

/*Formatting for current page text/link*/
a.currentPage {
  display: inline-block;
  position: relative;
  color: var(--color3);
}

/*Adds button background to current page link*/
/*li#currentPage {
  padding: 7px 10px 7px 10px;
  border-radius: 5px; s
  background-color: var(--color2);
}*/

/*Formatting for page links*/
a {
  display: inline-block;
  position: relative;
  color: var(--color2);
  text-decoration: none;
}

/*Line animation for links*/
a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color2);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

/*Details for the home link specifically*/
/*#homelink {
    color: var(--color3);
}*/

/*^^Nav Bar^^*/

/*Gets rid of default small margins*/
body {
    margin:0;
    padding:0;
    background-color: var(--color1);
}

/*#rd {
  padding-bottom: 15px;
  margin-top: 0px;
  position: absolute;
  height: 50px;
  width: 100%;
  top: 300px;
  background-image: url("./images/drinkline.png");
  background-size: auto 100%;
}*/

/*Homepage Heading*/
#headtext {
  background-color: var(--color1);
  border-radius: 5px;
  padding: 15 15 15 15;
  text-emphasis: none;
  font-style: normal;
}
h1 {
  background-image: url(./images/headerbg2.png);
  background-attachment: fixed;
  background-size: 60%;
  color: var(--color2);
  align-items: center;
  font-size: 400%; 
  margin-top: 0%;
  padding-top: 200px;
  padding-bottom: 200px;
}


/* NON HOME PAGE vvv*/


h3 {
  font-size: 140%;
  margin-bottom: 5px;
}

.upperPar {
  margin-top: 0px;
}
.upper {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1%;
  margin-bottom: 10px;  font-size: 140%;
}

.upperImage {
  padding: 5px 5px 5px 5px;
}



/*Formatting of buttons*/
.buttons {
  display: flex;
  flex-direction: column;
  margin-inline: 20%;
  align-items: center;

}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: var(--color1);
  color: var(--color3);
  cursor: pointer;
  padding: 40%, 10%, 40%, 10%;
  width: 70%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 200%;
  margin-top: 5px;
  margin-inline: 40%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
background-color: var(--color25);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
  flex-wrap: wrap;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: green;
}